.ligIma{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
}
.nb-pro{
    font-size: 1rem;
    display: inline-block;
    position:absolute;
    margin-left: 10px;
}
.toto{
    min-height: 450px;
    position:relative;
    margin-right: 50px;
    width: 210px;
}
.btn-supp{
    position: absolute;
    bottom:0;
    left:50%;
    margin-bottom: 10px;
    margin-right: 20px;
}